body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #task-list {
    margin: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task-name {
    font-weight: bold;
  }
  
  .completed {
    color: red;
  }
  
  .delete-task {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-task:hover {
    background-color: #aaa;
  }